body {
    height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logo a{
  text-decoration: none;
  color: white;
}
.nav-buttons {
  display: flex;
  gap: 10px;
}
.nav-buttons a{
  text-decoration: none;
}
.nav-button {
  padding: 5px 10px;
  border: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}
.nav-button:hover{
    background-color: white;
    color: #555;
}

.landing-content {
  padding: 20px;
}

.hero-section {
  text-align: center;
  padding: 50px 0;
}

.cta-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.features-section {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.feature {
  text-align: center;
  padding: 20px;
}

.footer {
    min-height: 100%;
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: white;
}

/* login form */
.login_container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.login-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
.form-group {
    margin-bottom: 20px;
    
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    display: block;
    width: 80%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
